<section class="container centered">
  <div class="about">
      <!-- {{ with .Site.Params.avatarurl }} -->
      <!-- <div class="avatar"><img src="{{ . | absURL }}" alt="avatar"></div> -->
      <!-- {{ end }} -->
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
  </div>
</section>

<p style="text-align:center;">
    We currently seek to fill a postion as  <br>
    <a href="/pdf/20200214_Ausschreibung_Numeriker.pdf" > <b>Numerical developer/scientist for avalanche simulations</b> </a>
</p>
