<section class="container centered">
  <div class="about">
      {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | absURL }}" alt="Logo AvaFrame The
  open avalanche framework"></div>
      {{ end }}
      <!-- <h1>{{ .Site.Params.author }}</h1> -->
      <!-- <h2>{{ .Site.Params.info }}</h2> -->


    <p style="text-align:center;">
      <!-- We currently seek to fill a position as
           <a href="/pdf/20200214_Ausschreibung_Numeriker.pdf" > <b>Numerical developer/scientist for avalanche simulations</b> </a> -->
    </p>

  </div>


</section>

    <section class="container list">
        <div class="content centered">
        <ul>
            {{ range .Paginator.Pages }}
            <li>
                <span>{{ .Date.Format "January 2, 2006" }}</span><a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
        {{ partial "pagination.html" . }}
        </div>
    </section>
